* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

@import 'navbar';
@import 'intro';
@import 'about';
@import 'gallery';
@import 'article';
@import 'footer';
@import 'contact';


